/SpotifyLyricWindow/resource/setting.toml
/SpotifyLyricWindow/resource/token
/SpotifyLyricWindow/download/
**/.idea
**/.vs
**/__pycache__
/SpotifyLyricWindow/config/config.json
/SpotifyLyricWindow/config/
