/SpotifyLyricWindow/resource/setting.toml
/SpotifyLyricWindow/resource/token
/SpotifyLyricWindow/resource/lyric_token
/SpotifyLyricWindow/resource/error.log
/SpotifyLyricWindow/download/
**/.idea
**/.vs
**/__pycache__
