fuzzywuzzy==0.18.0
pynput==1.8.1
pyotp==2.9.0
PyQt6==6.11.0
PyQt6_sip==13.10.0
requests==2.33.1
rtoml==0.13.0

# Windows only
winrt_runtime==3.0.0; sys_platform == "win32"
winrt_windows_foundation==3.0.0; sys_platform == "win32"
winrt_windows_foundation_collections==3.0.0; sys_platform == "win32"
winrt_windows_media_control==3.0.0; sys_platform == "win32"
winrt_windows_storage_streams==3.0.0; sys_platform == "win32"
winrt_windows_system==3.0.0; sys_platform == "win32"