certifi
charset-normalizer
fuzzywuzzy
idna
psutil
PyQt6
pywin32
requests
system-hotkey
urllib3
rtoml


winrt-windows.foundation
winrt-windows.foundation.collections
winrt-windows.media.Control
winrt-windows.storage.streams
winrt-windows.system
winrt-runtime